<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title></title>
</head>
<body id="agent">
    <header>
 
        <img src="images/agents.jpg">
 
        <h2>What agent(s) do you play?</h2>
   
    </header>
 
    <main>
        <ul>
            <li><img src="images/brimstone.png"></li>
            <li><img src="images/viper.png"></li>
            <li><img src="images/omen.png"></li>
            <li><img src="images/killjoy.png"></li>
            <li><img src="images/Cypher.png"></li>
            <li><img src="images/sova.png"></li>
            <li><img src="images/sage.png"></li>
            <li><img src="images/phoenix.png"></li>
            <li><img src="images/jett.png"></li>
            <li><img src="images/reyna.png"></li>
            <li><img src="images/raze.png"></li>
            <li><img src="images/Breach.png"></li>
            <li><img src="images/Skye.png"></li>
            <li><img src="images/yoru.png"></li>
            <li><img src="images/astra.png"></li>
            <li><img src="images/kayo.png"></li>
            <li><img src="images/chamber.png"></li>
            <li><img src="images/neon.png"></li>
        </ul>
    </main>
 
    <footer>
        <section>
            <div class="container3">
                <ul class="progressbar">
                    <li class="active">Step 1</li>
                    <li class="active">Step 2</li>
                    <li>Step 3</li>
                </ul>
            </div>
        </section>
 
        <button>Next</button>
    </footer>
</body>
</html>