<body id="confirm">
    <header>
        <h2>Change Username</h2>
    </header>
 
    <main>
        <form id="change-form">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <input type="submit" value="Login">
        </form>
    </main>
        <script src="change.js"></script>