<body id="homepage">
    <main>
        <h2>Welcome!</h2>

        <button id="fullscreen">Fullscreen</button>

        <a href="login">Logout</a>
    </main>
</body>
<script src="../public/js/api.js">