<body id="home">
    <header>
        <h2>Link your valorant account</h2>
 
        <img src="images/valoranticon.jpg" alt="Valorant logo">
    </header>
 
    <main>
        <form id="login-form">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
 
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <a href="confirm.handlebars"> <input type="submit" value="Login"></a> 
        </form>
    </main>
 
    <footer>
        <a href="confirm.handlebars"><button>Verder</button></a>
    </footer>
</body>
<script src="index.js"></script>
