<body id="home">
    <header>
        <h2>Login</h2>
    </header>
 
    <main>
        <form id="login-form">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Dit veld is verplicht" required>
 
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Dit veld is verplicht" required>

            <input id="LoginButton" type="submit" value="Login" href="confirm.handlebars">
        </form>
    </main>
 
    <footer>
        <a href="information.handlebars"><button>Maak een account aan</button></a>
    </footer>
</body>
<script src="index.js"></script>
