<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title></title>
</head>
<body id="information">
    <header>
 
        <h2>Who are you?</h2>
   
        <img src="images/valoranticon.jpg">
   
    </header>
 
    <main>
        <form>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
 
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
 
            <label for="age">Age:</label>
            <input type="date" id="age" name="age">
        </form>
 
        <section>
            <h3>Communication:</h3>
 
            <div class="container">
                <button><img src="images/micicon.png" alt="Mic icon"></button>
                <button><img src="images/nomicicon.png" alt="No mic icon"></button>
            </div>
        </section>
 
    </main>
 
    <footer>
        <section>
            <div class="container2">
                <ul class="progressbar">
                    <li class="active">Step 1</li>
                    <li>Step 2</li>
                    <li>Step 3</li>
                </ul>
            </div>
        </section>
 
        <button>Next</button>
    </footer>
 
</body>
</html>
