<body id="information">
    <header>
 
        <h2>Who are you?</h2>
   
        <img src="images/valoranticon.jpg">
   
    </header>
 
    <main>
        <form id="register-form">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">

            <label for="email;">Email:</label>
            <input type="email" id="email" name="email;">
 
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">

            <input type="submit" value="Register">

        </form>
    </main>
    <script src="register.js"></script>

