<body id="information">
    <header>
        <h2>Who are you?</h2>
    </header>
 
    <main>
        <form id="register-form">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Dit veld is verplicht">

            <label for="email;">Email:</label>
            <input type="email" id="email" name="email" placeholder="Dit veld is verplicht">
 
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Dit veld is verplicht">

            <input type="submit" value="Register">

        </form>
    </main>
    <script src="register.js"></script>

