<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title></title>
</head>
<body id="rank">
    <header>
 
        <h2>What is your rank?</h2>
   
        <img src="images/goldicon.png">
   
    </header>
 
    <main>
        <ul>
            <li><img src="images/silver1.png"></li>
            <li><img src="images/silver2.png"></li>
            <li><img src="images/silver3.png"></li>
            <li><img src="images/gold1.png"></li>
            <li><img src="images/gold2.png"></li>
        </ul>
 
        <p>...</p>
    </main>
 
    <footer>
        <section>
            <div class="container3">
                <ul class="progressbar">
                    <li class="active">Step 1</li>
                    <li>Step 2</li>
                    <li>Step 3</li>
                </ul>
            </div>
        </section>
 
        <button>Next</button>
    </footer>
</body>
</html>
