/* General styling*/
 
:root {
    --primary-color: #ef4958;
    --secondary-color: #101923;
    --tertiary-color: #383e3a;
    --background-color: #ebe7e1;
    --form-color: white;
}
 
* {
    display: block;
}
 
body {
    background-color: var(--background-color);
    color: var(--secondary-color);
    font-family: 'Inter';
}
 
h2 {
    text-align: center;
    margin-top: 15%;
    font-weight: 800;
    font-size: 2em;
}
 
header > img {
    display: block;
    max-width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20%;
}
 
main > input {
    color: white;
    background-color: var(--primary-color);
    border: none;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    font-weight: 800;
    font-size: 1.3em;
}
 
main form label {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.3em;
    font-weight: 600;
    color: var(--secondary-color);
}
 
 main form input {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

form input:not(:placeholder-shown) {
    border-color: green;
}

form input:placeholder-shown {
    border-color: var(--primary-color);
}
 
/*Home page*/

#home {
    background-color: var(--primary-color);
}

#home main, #home header, #home footer {
    margin-left: 10%;
    margin-right: 10%;
    background-color: var(--form-color);
}

#home header {
    padding-top: 1%;
    margin-top: 7%;
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
}

#home main {
    padding-bottom: 1em;
}

#home footer {
    padding-bottom: 5%;
    border-bottom-left-radius: 3em;
    border-bottom-right-radius: 3em;
    margin-top: -1px;
}

#home h2 {
    margin-bottom: -1px;
    padding-bottom: 1em;
}

#home main form label:first-of-type {
    margin-top: 0
}
 
#home main button {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    margin-left: 5.5em;
    margin-top: 0.5em;
    margin-bottom: 2em;
    font-weight: 600;
    color: var(--tertiary-color);
}

#home footer a button {
    background-color: unset;
    border: none;
    padding-top:1em;
    margin-left: auto;
    margin-right: auto;
}

#home footer a {
    padding-top: 0.2em;
    text-decoration: none;
    color: var(--secondary-color);
}

#login-form input:last-of-type {
    margin-top: 1em;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding-left: 3em;
    padding-right: 3em;
    font-size: 1.2em;
}

.loggedin {
    margin-top: 1em !important;
    background-color: var(--form-color) !important;
    border: 0.1em var(--primary-color) solid !important;
    color: var(--primary-color) !important;
    padding-left: 3em;
    padding-right: 3em;
    font-size: 1.2em;
}
 
/* Information page*/

#information {
    background-color: var(--primary-color);
}

#information main, #information header, #information footer {
    margin-left: 10%;
    margin-right: 10%;
    background-color: var(--form-color);
}

#information header {
    padding-top: 1%;
    margin-top: 7%;
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
}

#information main {
    padding-bottom: 5%;
    border-bottom-left-radius: 3em;
    border-bottom-right-radius: 3em;
}
 
#information header h2 {
    margin-top: 0.5em;
    margin-bottom: -1px;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.5em;
}

#information main form label:first-of-type {
    margin-top: 0
}
 
#information main form input:last-of-type {
    padding-left: 2em;
    padding-right: 2em;
}
 
#information main > section h3{
    margin-left: 21%;
    text-align: left;
    font-size: 16px;
}
 
.container {
    margin-left: 19%;
    display: flex;
    flex-direction: row;
    gap: 1em;
}
 
#information main > section > div button {
    background-color: transparent;
    border: none;
}
 
#information main > section img {
    height: 40px;
    width: 40px;
}
 
#information footer section ul {
    display: flex;
    flex-direction:row;
    gap: 1em;
    margin-left: 2.6em;
}

#register-form input:last-of-type {
    margin-top: 1em;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding-left: 2em;
    padding-right: 2em;
    padding: 0.5em;
    font-size: 1.2em;
}

.aangemaakt {
    margin-top: 1em !important;
    background-color: var(--form-color) !important;
    border: 0.1em var(--primary-color) solid !important;
    color: var(--primary-color) !important;
    padding-left: 3em;
    padding-right: 3em;
    font-size: 1.2em;
}
 
/* Confirm screen */
 
#confirm main section h2 {
    text-align: center;  
}

#confirm main section h3 {
    text-align: center;
}
 

